body{
    background-color: black;
}


.menu-container{
    display: flex;
    flex-direction: column;
    gap: 1%;
    background-color: rgb(24, 23, 23);
    border-radius: 3%;
    display: inline-block;
    width: 18rem;
    height: 7rem;
}

.home-img{
    color: white;
    width: 20px;
    height: 20px;
    margin: 1rem;
}
.home{
    color: white;
    /* text-align: center; */
    font-size: 1.3rem;
    position: absolute;
    left: 4rem;
    top: 0.5rem;
}

.search-img{
    color: white;
    width: 20px;
    height: 20px;
    margin: 1rem;
    position: absolute;
    left: 0.6rem;
    top: 4rem;
}
.search{
    color: white;
    /* text-align: center; */
    font-size: 1.3rem;
    position: absolute;
    left: 4rem;
    top: 4rem;
}

.lib{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 23, 23);
    border-radius: 3%;
    width: 18rem;
    height: 32rem;
}

.your-library{
    color: white;
    font-size: 1rem;
}
.playlist-content{
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    font-size: 0.6rem;
}


.playlist-item{
    background-color: rgb(66, 39, 39);
    /* border-radius: 50%; */
    margin-bottom: 4%;
    padding: 4%;
    color: white;
}
.-song{
    color: white;
    font-size: 0.5rem;
}
.heeriyesong{
    margin-top: 0%;
}
img{
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 4%;
}

.mid-container{
    display: flex;
    flex-direction: column;
    gap: 1%;
    background: linear-gradient(to bottom, brown, transparent);
    border-radius: 3%;
    display: inline-block;
    width: 45rem;
    height: 30rem;
    position: relative;
    left: 18rem;
    bottom: 40.3rem;
    margin: 4%;
}
.midimage{
    width: 25rem;
    height: 20rem;
    margin: 2%;
}

.song{
    position: absolute;
    left: 26rem;
    top: 5rem;
    font-size: 1rem;
    color:white;
    margin-left: 2%;
}

.mid-heeriye{
    position: absolute;
    left: 26rem;
    top: 7rem;
    font-size: 2rem;
    color:white;
    margin-left: 2%;
}
.jasleen{
    position: absolute;
    left: 26rem;
    top: 13rem;
    font-size: 1rem;
    color:white;
    margin-left: 2%;
}
.onesong{
    position: absolute;
    left: 26rem;
    top: 15rem;
    font-size: 1rem;
    color:white;
    margin-left: 2%;
}

.more{
    color: white;
    position: absolute;
    top: 21rem;
    font-size: 2rem;
}

.see{
    color: white;
    position: absolute;
    top: 22.3rem;
    font-size: 1.2rem;
    left: 35rem;
}

.shivbtm{
    position: absolute;
    top: 26rem;
    left: 3rem;
    background-color: rgb(15, 13, 13);
    width: 11rem;
    height: 13rem;
}

.shivimg , .ranjimg , .heerimg{ 
    width: 10rem;
    height: 8rem;
    margin: 4%;
}

.shivaay , .year{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0%;
}

.ranjbtm{
    position: absolute;
    top: 26rem;
    left: 18rem;
    background-color: rgb(15, 13, 13);
    width: 11rem;
    height: 13rem;
}


.ranj , .year{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0%;
}

.heeriyabtm{
    position: absolute;
    top: 26rem;
    left: 33rem;
    background-color: rgb(15, 13, 13);
    width: 11rem;
    height: 13rem;
}

.heer , .year{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0%;
}

.year{
    font-size: 1rem;
}

.last-container{
    display: flex;
    flex-direction: column;
    gap: 1%;
    border-radius: 3%;
    display: inline-block;
    width: 18rem;
    height: 30rem;
    position: relative;
    left: 64rem;
    bottom: 62.8rem;
    margin-left: 4%;    
    background-color: rgb(24, 23, 23); 
}

.right{
    color: white;
    font-size: 2rem;
    margin-left: 2%;
    display: inline-block;
}

.rightimg{
    width: 15rem;
    height: 15rem;
    margin-left: 2%;
}

.nana{
    color: white;
    font-size: 2rem;
    margin-left: 2%;
}

.akon{
    color: white;
    font-size: 1rem;
    margin-left: 2%;
}

.footerright{
    color: white;
    font-size: 1rem;
    margin-left: 4%;
}

.footerimg {
    margin: 0%;
}

.footerplay{
    width: 35rem;
    height: 5rem;
    position: relative;
    left: 19rem;
    bottom: 2.3rem;
}